@import url('https://fonts.googleapis.com/css?family=Italianno&display=swap');


*{
  box-sizing: border-box;
}

nav{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 40, 40);
  background: repeating-linear-gradient(rgba(240, 248, 255, 0.527) 0% 49%, lightgrey 51% 100%);
}


.flex-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
  height: auto;
  max-height:100%;
  max-width:100%;
  

}

.flex-container-row {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  height: auto;
  max-height:100%;
  max-width:100%;
  

}

.bg{
  background-color: transparent rgb(121, 121, 121);

  background-image: url("../Imagenes/Potemkin.jpg");
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
}

.flex-container > img {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  max-height:100%;
  max-width:100%;
  overflow:auto;
}

.flex-container > video {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  max-height:100%;
  max-width:100%;
  overflow:auto;
}
flex-container-row > li {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  max-height:100%;
  max-width:100%;
  overflow:auto;


}

.flex-container-row > img {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  max-height:100%;
  max-width:100%;
  overflow:auto;
}

.flex-container-row > video {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  max-height:100%;
  max-width:100%;
  overflow:auto;
}